body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-height: 100vh;
  max-width: 100vw;
}

.wallet-adapter-button {
  height: 32px !important;
  line-height: 32px !important;
  font-size: 14px !important;
  padding: 0 16px !important;
}

.wallet-adapter-button .wallet-adapter-button-start-icon img {
  height: 18px !important;
  width: 18px !important;
}